
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');

body {
    background:rgb(50, 63, 79);
    font-family: Asap;
}

* {
    box-sizing: border-box;
}

h1{
    font-weight: bold;
    text-align: center;
    color: white
}

.photo_profil div{
    width:200px;
    height: 200px;

}

img{
    background: rgb(150, 148, 148);
    width:80px;
}




@media screen and (max-width: 900px) {
    .header {
        position:static;
        width:auto;
        float:none;
        margin-left:0;
        padding: 0;
    }

    .container {
        width:96%;
        padding-left:0;
    }

    .page {
        padding: 0 1rem;
    }

    .nav {
        padding: 1rem;
    }

    .nav .title {
        display:none;
    }

    .nav-links {
        margin-top:0;
        display: flex;
        border-bottom: solid 3px #f39c12;
        padding-bottom: 1em;
    }

    .nav-item {
        width:calc(33.3333% - .5rem);
        text-align: center;
    }

    .nav-item-link {
        margin-bottom: 0;
    }
    
}
    


/*
    Styles pour les écrans de moins de 900px de large :
*/
/*
    

*/
